<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Từ Thiện - CTCA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS==================================================-->
    <link rel="stylesheet" th:href="@{/resources/front/plugins/css/plugins.css}">
    <link th:href="@{/resources/front/css/style.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" th:href="@{/resources/front/css/colors/green-style.css}">
    <!-- Basic Page Needs
    ================================================== -->

</head>
<body>
<div th:replace="~{fragments/front/header :: header}"></div>
<div class="Loader"></div>
<div class="wrapper">
    <div class="clearfix"></div>

    <!-- Title Header Start -->
    <section class="inner-header-title" th:style="'background-image: url(\'' + @{/resources/front/img/banner-10.jpg} + '\');'">
        <div class="container">
            <h1>Từ Thiện</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

    <!-- Candidate Profile Start -->
    <section class="detail-desc advance-detail-pr gray-bg">
        <div class="container white-shadow">

            <div class="row">
                <div class="detail-pic" style="width: 250px; margin:10px auto; height:250px;
                                max-width: 250px; border-radius: 10%; margin: 0px auto;">
                    <img th:src="@{${charityDTO.image}}" class="img" alt=""
                         style="width: 250px; margin:10px auto; height:250px;
                                max-width: 250px; border-radius: 10%; margin: 0px auto;"/>
<!--                    <a href="" class="detail-edit" title="edit"><i class="fa fa-pencil"></i></a>-->
                </div>
                <div class="detail-status"><span>Active Now</span></div>
            </div>

            <div class="row bottom-mrg">
                <div class="col-md-12 col-sm-12">
                    <div class="advance-detail detail-desc-caption">
                        <h4 th:text="${charityDTO.title}">Tiêu Đề</h4>
                        <span class="designation" th:text="${'#ID' + charityDTO.id}">Mã ID</span>
                        <ul>
                            <li><strong class="j-view" th:text="${charityDTO.endDate}">0</strong>Thời Gian Kết Thúc</li>
                            <li><strong class="j-applied" th:text="${totalDonation}">0</strong>Số Lựợng Quyên Góp</li>
                            <li><strong class="j-shared" th:text="${totalVolunteer}">0</strong>Số Lựợng Cộng Tác </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row no-padd">
                <div class="detail pannel-footer">
                    <div class="col-md-5 col-sm-5">
                        <ul class="detail-footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="detail-pannel-footer-btn pull-right">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#apply-job"
                               class="footer-btn grn-btn" title="">Quyên Góp Từ Thiện</a>
                            <a href="#" class="footer-btn blu-btn" title="">Đăng Ký Tình Nguyện Viên</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="full-detail-description full-detail gray-bg">
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="full-card">
                    <div class="deatil-tab-employ tool-tab">
                        <ul class="nav simple nav-tabs" id="simple-design-tab">
                            <li class="active"><a href="#about">Thông Tin</a></li>
                            <li><a href="#friends">Tình Nguyện Viên</a></li>
                            <li><a href="#messages">Quyên Góp</a></li>
                        </ul>

                        <!-- Start All Sec -->
                        <div class="tab-content">
                            <div id="about" class="tab-pane fade in active">
                                <h3>Thông Tin</h3>
                                <ul class="job-detail-des">
                                    <li><span>Ngày Bắt Đầu:</span> <a th:text="${charityDTO.startDate}"></a></li>
                                    <li><span>Ngày Kết Thúc:</span> <a th:text="${charityDTO.endDate}"></a></li>
                                    <li><span>Đại Diện Pháp Luật:</span> <a th:text="${ownerDTO.fullName}"></a></li>
                                    <li><span>Địa Chỉ Email:</span> <a th:text="${ownerDTO.email}"></a></li>
                                    <li><span>Số Điện Thoại:</span> <a th:text="${ownerDTO.phone}"></a></li>
                                </ul>

                                <p th:utext="${charityDTO.description}"></p>
                            </div>
                            <!-- End About Sec -->

                            <!-- Start Friend List -->
                            <div id="friends" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4" th:each="item : ${volunteerListDTO}">
                                        <div class="manage-cndt">
                                            <p class="cndt-status pending" style="color: black; background-color: yellow;" th:if="${item.progress == 'PENDING'}">Đang Chờ Duyệt</p>
                                            <p class="cndt-status available" style="color: white; background-color: green;" th:if="${item.progress == 'ACCEPTED'}">Đã Được Duyệt</p>
                                            <p class="" style="color: white; background-color: red;" th:if="${item.progress == 'CANCELED'}">Bị Từ Chối</p>

                                            <div class="cndt-caption">
                                                <div class="cndt-pic">
                                                    <img src="assets/img/can-1.png" class="img-responsive" alt="">
                                                </div>
                                                <h4 th:text="${item.account.fullName}">Fullname</h4>
                                                <span th:text="${'#ID' + item.id}">ID</span>
                                                <p th:text="${item.note}">Note</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Friend List -->

                            <!-- Start Message -->
                            <div id="messages" class="tab-pane fade">
                                <div class="inbox-body inbox-widget">
                                    <div class="mail-card" th:each="item : ${donationListDTO}">
                                        <header class="card-header cursor-pointer collapsed" data-toggle="collapse"
                                                data-target="#full-message" aria-expanded="false">
                                            <div class="card-title flexbox">
                                                <div>
                                                    <h6 th:text="${'#ID' + item.account.id + ' - ' + item.account.fullName}">FullName</h6>
                                                    <small th:text="${item.date}">Today at 07:34 AM</small>
                                                </div>
                                            </div>
                                        </header>
<!--                                        <div class="collapse" id="full-message" aria-expanded="false"-->
<!--                                             style="height: 0px;">-->
<!--                                            <div class="card-body">-->
<!--                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem-->
<!--                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa-->
<!--                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae-->
<!--                                                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit-->
<!--                                                    aspernatur aut odit aut fugit, sed quia.</p>-->
<!--                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem-->
<!--                                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa-->
<!--                                                    quae ab illo inventore veritatis et quasi architecto beatae vitae-->
<!--                                                    dicta sunt explicabo.</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                            <!-- End Message -->
                        </div>
                        <!-- Start All Sec -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Candidate Profile End -->

    <!-- Footer Section Start -->
    <div th:replace="~{fragments/front/footer :: footer}"></div>
    <div class="clearfix"></div>
    <!-- Footer Section End -->

    <button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()"><i class="spin fa fa-cog"
                                                                                      aria-hidden="true"></i></button>
    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
        <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
        <ul id="styleOptions" title="switch styling">
            <li>
                <a href="javascript: void(0)" class="cl-box blue" data-theme="colors/blue-style"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box red" data-theme="colors/red-style"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box purple" data-theme="colors/purple-style"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box green" data-theme="colors/green-style"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box dark-red" data-theme="colors/dark-red-style"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box orange" data-theme="colors/orange-style"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box sea-blue" data-theme="colors/sea-blue-style "></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box pink" data-theme="colors/pink-style"></a>
            </li>
        </ul>
    </div>

    <!-- Scripts
    ================================================== -->
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/viewportchecker.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootsnav.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/wysihtml5-0.3.0.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/bootstrap-wysihtml5.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/datedropper.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/dropzone.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/loader.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/owl.carousel.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/slick.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/gmap3.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/front/plugins/js/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/resources/front/js/custom.js}"></script>
    <script th:src="@{/resources/front/js/jQuery.style.switcher.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#styleOptions').styleSwitcher();
        });
    </script>
    <script>
        function openRightMenu() {
            document.getElementById("rightMenu").style.display = "block";
        }

        function closeRightMenu() {
            document.getElementById("rightMenu").style.display = "none";
        }
    </script>
</div>
</body>
</html>